@import url("./font.css");

/* RESET SECTION */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* ROOT VARIABLES SECTION */
:root{
    --color-primary-900:#134e4a;
    --color-primary-800:#115e59;
    --color-primary-700:#0f766e;
    --color-primary-600:#0d9488;
    --color-primary-500:#14b8a6;
    --color-primary-400:#2dd4bf;
    --color-primary-300:#5eead4;
    --color-primary-200:#99f6e4;
    --color-primary-100:#ccfbf1;
    --color-primary-50:#f0fdfa;

    --color-secondary-900:#312e81;
    --color-secondary-800:#3730a3;
    --color-secondary-700:#4338ca;
    --color-secondary-600:#4f46e5;
    --color-secondary-500:#6366f1;
    --color-secondary-400:#818cf8;
    --color-secondary-300:#a5b4fc;
    --color-secondary-200:#c7d2fe;
    --color-secondary-100:#e0e7ff;
    --color-secondary-50:#eef2ff;

    --border-radius-tiny: 3px;
    --border-radius-sm: 5px;
    --border-radius-md: 7px;
    --border-radius-lg: 9px;

    --color-success: rgb(0, 192, 115);
    --color-warning: rgb(255, 153, 0);
    --color-error: rgb(255, 71, 87);
    --color-red-700: rgb(185, 28, 28);
    --color-red-800: rgb(153, 27, 27);
    --color-red-500: rgb(239, 68, 68);
    --color-red-300: rgb(252, 165, 165);
    --color-red-100: rgb(254, 226, 226);

    --soft-shadow:0 0 20px 10px #f2f2f2fb;

    --color-heading:#1e1e1e;
    --color-body:#696969;
    --color-white:#fff;
}

/* TYPOGRAPHY SECTION */
html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-size: 1rem;
}

h1,
h2,
h3{
    color: var(--color-heading);
    font-weight: 700;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
}

h3{
    font-size: 1.4rem;
}

@media screen and (min-width:768px) {
    body{
        font-size: 1.2rem;
    }

    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;
    }
}

/* BUTTON SECTION */
.btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 1.6rem 1rem;
    border-radius: var(--border-radius-md);
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary{
    background-color: var(--color-primary-600);
    color: var(--color-white);
}

@media screen and (min-width:768px) {
    .btn{
        font-size: 1.6rem;
    }
}

/* BADGE SECTION */
.badge{
    display: inline-block;
    background-color: var(--color-secondary-200);
    color: var(--color-secondary-800);
    border-radius: var(--border-radius-sm);
    font-size: 1.6rem;
    padding: 0.5rem 1.3rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .badge{
        font-size: 1.8rem;
    }
}

/* CONTAINER SECTION */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.block-heading{
    margin-top: 6rem;
}

.block{
    padding: 4rem 2rem;
}

@media screen and (min-width:768px) {
    .block{
        padding: 6rem 2rem;
    }
}

/* TICKET SECTION */
.card .card__content{
    display: grid;
    gap: 3rem;
    margin-top: 5rem;
}

.ticket{
    padding: 1rem;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--soft-shadow);
}

.ticket__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload,
.account{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ticket__details .upload__link{
    color: var(--color-secondary-800);
    transition: all .2s ease-out;
}
.ticket__details .upload__link:hover{
    color: var(--color-secondary-600);
}

.ticket__details .account__image{
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-md);
}

.ticket__details .btn{
    transition: all .3s ease-out;
}
.ticket__details .btn:hover{
    transform: scale(1.05);
}


@media screen and (min-width:768px) {
    .card .card__content{
        grid-template-columns: repeat(2,1fr);
    }

    .ticket__details .account__image{
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width:1024px) {
    .card .card__content{
        grid-template-columns: repeat(3,1fr);
    }
}